<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Level Ground Wireframe</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>CLASSES</li>
					<li>HIRE US</li>
				</ul>
				<img src="#" alt="Level Ground Logo">
				<a href="#">
					<button>DONATE</button>
				</a>
			</nav>
		</header>
		<main>
			<h1>WHERE GRIT MEETS OPPORTUNITY</h1>
			<p>At Level Ground (LG), urban youth cultivate grit and resilience through Mixed Martial Arts. They learn to apply these values 'off the mat' in the pursuit of their ambitions through our Student Trainer Certification and College Access programs.</p>
			
		</main>
		<section class="firstsect">
			<h2>WHY</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quasi quam officiis nostrum repellat animi corrupti. Similique architecto molestias, nobis fugiat labore beatae at ad ipsa quasi est placeat quos.</p>
		</section>
		<section class="midsect">
			<section>
				<img src="" alt="">
				<h3>VISIT THE GYM</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quam labore quae, ducimus non perferendis corporis, in iste optio nisi omnis blanditiis iusto eaque quod inventore explicabo tempore. Reiciendis, blanditiis.</p>
				<a href="">
				<button>SEE CLASSES</button>
				</a>

			</section>
			<section>
				<img src="" alt="">
				<h3>HAVE US VISIT YOU</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quam labore quae, ducimus non perferendis corporis, in iste optio nisi omnis blanditiis iusto eaque quod inventore explicabo tempore. Reiciendis, blanditiis.</p>
				<a href="">
				<button>HIRE US</button>
				</a>

			</section>
		</section>
		<section class="lastsect">
			<h3>VOLUNTEER WITH LEVEL GROUND</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas harum qui ut veniam molestiae eius unde sit. Facere, dolorum vero, non tenetur officia, sit atque quos maxime nulla suscipit autem.</p>
			<a href="#">
				<button>VOLUNTEER</button>
			</a>
		</section>
		<footer>
			<section>
				<ul>
					<li>
						<img src="#" alt="fblogo">
						<img src="#" alt="twitterlogo">
					</li>
				</ul>
				<span>SITE MAP</span>
				<ul>
					<li>Classes</li>
					<li>Hire Us</li>
				</ul>
				<span>CONTRIBUTE</span>
				<ul>
					<li>Give</li>
					<li>Volunteer</li>
				</ul>

			</section>
			<section>
				<p>LEVEL GROUND MIXED MARTIAL ARTS <br>50 milk street, floor 17 <br>boston,MA 02109 <br>410-533-2210 <br>Ali@LevelGroundMMA.org</p>
			</section>
		</footer>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
